Source: libcariad-driver-ili9481
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-ili9481
Replaces: libdisplaycore-driver-ili9481
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: TFT
Depends: libcariad-core
Provides: ILI9481.h
Description: ILI9481
 The ILI9481 is used by a number of generic 3.2"
 320x480 TFT screens.  It's a 16-bit parallel interface.



